@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

#main {
  padding: auto;
  margin: 0;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #333533;
  margin: 0;
}

.container,
.container * {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #242423;
  width: 100%;
  height: 100px;
  margin: 0;
  box-shadow: 125px rgba(0,0,0,0.2);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.logo {
  margin: auto;
  max-width: 100%;
}

.logo-icon {
  flex-grow: 1;
  margin: auto auto auto 30px;
}

.logo-icon-image {

}

.header {
  padding-top: 100px;
  height: 800px;
  width: 100%;
  background-image: url("bg_2.jpg");
  background-position: 50% 20%;
}

.menu {
  margin: auto;
  display: flex;
  font-size: 1.5em;
  flex-grow: 1;

}

.menu-icon {
  display: block;
  padding-right: 20px;
  font-size: 2em;
}

.sidenav-icon {
  padding-right: 20px;
  font-size: 1.5em;
}

.menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  transition: color .7s;
}

.menu a:hover {
  color: #212529;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}

.content,
.content * {
  width: 100%;
  overflow: hidden;
  color: #415a77;
  font-family: 'Roboto Condensed', sans-serif;
  flex-grow: 1;
  height: 100%;
}

.content {
  padding-bottom: 17px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.content-box {
  display: inline-flex;
}

.content-text {
  padding-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  color: white;
  text-align: center;
}

.content-box-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-info {
  padding-bottom: 50px;
  background-color: #242423;
}

.contact-container {
  margin: auto;
  color: white;
  font-size: 1.5em;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;

}

.contact-container p {
  color: white;
  font-style: normal;
  padding-left: 25px;
}

.contact-container a {
  color: #80b918;
  font-style: normal;
  text-decoration: none;
  transition: .3s color;
}

.contact-container a:hover {
  color: white;
  font-style: normal;
  text-decoration: none;
}

.contact-container a:visited {
  color: white;
  font-style: normal;
  text-decoration: none;
}

.contact-container p1 {
  color: #80b918;
}

.map {

}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-group {
  margin-top: 10px;
  color: black;
}

.form-label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9em;
  color: white;
}

.form-control {
  width: 600px;
  font-size: 0.7em;
  background-color: #E0E1DD;
  transition: all .3s;
  border-style: none none none none;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 15px;
}

.form-control::placeholder:active {
  color: #242423;
}

.form-control::placeholder:hover {
  color: white;
}

.form-control:hover {
  background: #242423;
  color: white;
}

.form-control:invalid:focus{
  border-color:red;
}
.form-control:valid:focus{
  border-color:green;
}

.btn {
  color: #242423;
  font-size: 0.8em;
  background: #80b918;
  height: 50px;
  width: 330px;
  border: none;
  margin: 0;
  outline: 2px solid rgba(0,0,0,0.0);
  transition: background-color 0.5s;
  box-shadow: 15px rgba(0,0,0,0.2);
  cursor: pointer;
  top: 0;
}

.btn:active {
  background: #80b918;
}

.btn:hover {
  background: white;
}

.ad {
  float: right;
}

.sigill {
  background-color: #242423;
  text-align: center;
  padding-left: 55px;
}

.footer {
  background: #242423;
  width: 100%;
  height: 60px;
  font-size: 1em;
  z-index: 2;
  align-items: center;
  text-align: center;
  color: white;
  margin: auto;
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer a:visited {
  color: white;
  text-decoration: none;
}

.footer-mobile {
  display: none;
  flex-direction: column;
  background: #242423;
  width: 100%;
  height: 300px;
  font-size: 2em;
  z-index: 2;
  color: white;
  margin: auto;
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;

  text-align: center;
}

.footer-mobile a {
  color: white;
  text-decoration: none;
}

.footer-mobile a:hover {
  color: white;
  font-weight: bold;
}

.footer-mobile a:visited {
  color: white;
  text-decoration: none;
}


.footer-mobile-item {
  font-size: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer-mobile i {
  font-size: 2em;
}

.footer-mobile i {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer i {
  padding-right: 5px;
}

.footer-left {
  display: flex;
  flex-direction: row;
  float: left;
  align-items: flex-start;
  padding-left: 50px;
}

.footer-left-item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: flex-start;
  padding-right: 50px;
  font-size: 1.5em;
}

.footer-right-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.poster {
  margin-bottom: 25px;
}

.button {
  padding: 10px;
  color: #242423;
  font-weight: bold;
  font-size: 3em;
  background: #80b918;
  height: 100px;
  width: 100%;
  border: none;
  margin: 0;
  outline: 2px solid rgba(0,0,0,0.0);
  transition: background-color 0.5s;
  box-shadow: 15px rgba(0,0,0,0.2);
  cursor: pointer;
  top: 0;
}

.button:active {
  background: #80b918;
}

.button:hover {
  background: white;
}

.image {
  box-shadow: 15px rgba(0,0,0,0.2);
}

.image-box {
  padding-right: 15px;
}


.mobile-menu,
.mobile-menu * {
  margin: auto;
  font-size: 1.2em;
  display: none;
  }

.mobile-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 31px;
}

.mobile-menu a:hover {
  color: #212529;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #242423;
  overflow-x: hidden;
  padding-top: 110px;
  transition: 0.5s;
}


.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  display: block;
  transition: 0.3s;
  font-family: 'Source Sans Pro', sans-serif;
}

.sidenav a:hover {
  color: #242423;
  background: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 4.4em;
}


@media only screen and (max-width: 767px) {
  .mobile-menu,
  .mobile-menu * {
    display: block;
  }
  .menu {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    height: 220px;
    justify-content: flex-end;
  }

  .content-box {
    display: block;
  }

  .content {
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .button {
    font-size: 2em;
  }
}


@media only screen and (max-width: 768px) {
  .mobile-menu,
  .mobile-menu * {
      display: block;
  }
  .menu {
      display: none;
  }

  .footer {
      font-size: 1em;
      display: none;
  }

  .image {
    padding-top: 2px;
  }

  .content-box {
    display: block;
  }

  .content {
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .contact-container {
    padding-top: 50px;
    padding-bottom: 0px;
    width: 100%
  }

  .form-control {
    width: 300px;
  }

  .footer-mobile {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    height: 150px;
  }

  .footer-left {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
      flex-direction: column;
      font-size: 1.4em;
  }

  .image-box {
    padding-right: 0px;
  }


}



* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
