@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

#main {
  padding: auto;
  margin: 0;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #333533;
  margin: 0;
}

.container,
.container * {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #242423;
  width: 100%;
  height: 100px;
  margin: 0;
  box-shadow: 125px rgba(0,0,0,0.2);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  position: fixed;
  overflow: hidden;
  z-index: 2;

}

.logo {
  margin: auto;
  max-width: 100%;
}

.logo-icon {
  flex-grow: 1;
  margin: auto auto auto 30px;
}

.logo-icon-image {

}

.header {
  padding-top: 100px;
  height: 800px;
  width: 100%;
  background-image: url("bg_2.jpg");
  background-position: 50% 20%;
}

.menu {
  margin: auto;
  display: flex;
  font-size: 1.5em;
  flex-grow: 1;

}

.menu-icon {
  display: block;
  padding-right: 20px;
  font-size: 2em;
}

.menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  transition: color .7s;
}

.menu a:hover {
  color: #212529;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}

.content,
.content * {
  width: 100%;
  overflow: hidden;
  color: #415a77;

  font-family: 'Roboto Condensed', sans-serif;
  flex-grow: 1;
}

.content {
  padding-bottom: 17px;
  padding-top: 20px;
}

.content-box {
  display: inline-flex;
}

.content-text {
  padding-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  color: white;
  text-align: center;
}

.content-box-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.content-info {
  margin-top: 40px;
  background-color: #242423;
}

.ad {
  float: right;
}

.footer {
  background: #242423;
  width: 100%;
  height: 55px;
  font-size: 1.2em;
  z-index: 2;
  align-items: center;
  text-align: center;
  color: #E0E1DD;
  padding-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer i {
  padding-left: 25px;
  padding-right: 5px;
}

.footer-left {
  display: flex;
  flex-direction: row;
  float: left;
  align-items: flex-start;
  padding-left: 50px;
}

.footer-left-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: flex-start;
  padding-right: 50px;
  font-size: 1.5em;
}

.footer-right-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  padding: 10px;
  color: #242423;
  font-weight: bold;
  font-size: 3em;
  background: #80b918;
  height: 150px;
  width: 100%;
  border: none;
  margin: 0;
  outline: 2px solid rgba(0,0,0,0.0);
  transition: background-color 0.5s;
  box-shadow: 15px rgba(0,0,0,0.2);
  cursor: pointer;
  top: 0;
}

.button:active {
  background: #80b918;
}

.button:hover {
  background: white;
}

.image {
  box-shadow: 15px rgba(0,0,0,0.2);
}

.image-box {
  padding-right: 15px;
}


.mobile-menu,
.mobile-menu * {
  margin: auto;
  font-size: 1.2em;
  display: none;
  }

.mobile-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 31px;
}

.mobile-menu a:hover {
  color: #212529;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #242423;
  overflow-x: hidden;
  padding-top: 110px;
  transition: 0.5s;
}


.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  display: block;
  transition: 0.3s;
  font-family: 'Source Sans Pro', sans-serif;
}

.sidenav a:hover {
  color: #242423;
  background: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 4.4em;
}




@media only screen and (max-width: 768px) {
  .mobile-menu,
  .mobile-menu * {
      display: block;
  }
  .menu {
      display: none;
  }

  .footer {

  }

  .content-box {
    display: block;
  }

  .content {
    padding-bottom: 2px;
    padding-top: 2px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    height: 150px;
  }

  .footer-left {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
      flex-direction: column;
      font-size: 2em;
  }

  .image-box {
    padding-right: 0px;
  }

}



* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
